body {
  display: flex;
}

.wizard-steps {

  .wizard-steps-header {
    margin-bottom: 20px;
    border-bottom: 1px solid lightgray;
    
    ul {
      padding: 0;
      list-style: none;
    }
    
    .wizard-step-header-tab.active {
      font-weight: bold;
    }
  }

  .wizard-step:not(.active) {
    display: none;
  }

  .wizard-steps-footer {
    border-top: 1px solid lightgray;
    margin-top: 20px;
    padding-top: 15px;
  }
}